/* Global slector */
body {
    margin: 0;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
    color: #333;
}
h2 {
    font-size: 40px;
    color: #C26078;
}
p {
    color: #3E3E3E;
}
.flexible-content {
    display: flex;
}
/* Global slector end */

/* Top section start */
.title {
    border-left: 4px solid #4500C8;
    border-radius: 3px;
    padding-left: 20px;
}
.top-section p {
    margin-bottom: 50px;
}
.purple-color {
    color: #702AF4;
}
.half-width {
    width: 50%;
    padding-left: 100px;
}
.half-width img {
    width: 80%;
}
.button {
    padding: 15px 40px;
    color: white;
    background-color: #4500C8;
    border-radius: 10px;
    text-decoration: none;
}
.scroll-down-txt {
    color: #434343;
    margin-top: 30px;
}

/* Top section start end*/

/* Card area */
.mission-section-title {
    font-weight: bold;
    text-align: center;
}
.mission-section {
    padding: 70px;
}

.card {
    width: 50%;
    border-radius: 15px;
    margin: 10px;
    padding: 0;
}
.card img {
    width: 200px;
}
.Mission {
    background-color: #5500ff25;

}
.Vision {
    background-color: #cc00ff28;
}
.Goals {
    background-color: #ff070731;
}
.card-content {
    padding: 0 30px 20px 40px;
}
/* Card area end */