/* Global slector */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.continer {
    padding: 50px 150px 0 150px;
}

h1 {
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
    color: #333;
}
h2 {
    font-size: 40px;
}
p {
    color: #3E3E3E;
}
.flexible-content {
    display: flex;
}
.button {
    padding: 15px 40px;
    color: white;
    background-color: #4500C8;
    border-radius: 10px;
    text-decoration: none;
}
/* Global slector end */

/* Top section start */
.title {
    border-left: 4px solid #4500C8;
    border-radius: 2px;
    padding-left: 20px;
}
.top-section p {
    margin-bottom: 70px;
}
.purple-color {
    color: #702AF4;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 80%;
    margin-left: 100px;
}
.scroll-down-txt {
    color: #434343;
    margin-top: 30px;
}

/* Top section start end*/

/* Card area */
.mission-section-title {
    font-weight: bold;
    text-align: center;
    color: #C26078;
}
.card {
    width: 50%;
    border-radius: 15px;
    margin: 10px;
    padding: 0;
}
.card img {
    width: 200px;
}
.Mission {
    background-color: #5500ff25;

}
.Vision {
    background-color: #cc00ff28;
}
.Goals {
    background-color: #ff070731;
}
.card-content {
    padding: 0 30px 20px 40px;
}
/* Card area end */

/* Develop-without-limits */
.Develop-without-limits {
    margin-top: 150px;
}
.left-side {
    width: 50%;
}
.left-side img{
    width: 80%;
}
.Develop-without-limits p {
    margin-bottom: 50px;
}
/* Develop-without-limits end */


/* know-our-global-community */
.know-our-global-community {
    margin-top: 150px;
    margin-bottom: 200px;
}
.know-our-global-community p {
    margin-bottom: 50px;
}
/* know-our-global-community end */

/* footer */
footer {
    background-color: #0B0D17;
    margin: 0;
    height: 100px;
    padding: 80px;
    text-align: center;
}
footer h2 {
    margin: 0;
    color: white;
    font-family: 'Lobster', cursive;
}
footer p {
    color: #D9DBE1;
}
/* footer end */